<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi, you have a new message from a customer</p>
        <p>First Name: {{firstname}},</p>
        <p>Last Name: {{lastname}}</p>
        <p>email: {{email}}</p>
        <p>company: {{company}}</p>
        <p>Role: {{role}}</p>
        <p>Message: {{message}}</p>
        <footer style="text-align: center;">&copy;<em>{{year}}</em> opspadTeam</footer>
    </body>
</html>